.App {
  text-align: center;
}

header {
  background-color: lightcoral;
  padding: 20px;
  color: white;
}

table {
  border-collapse: collapse;
  width: 50%;
  margin: 20px auto;
}

th, td {
  border: 1px solid white;
  padding: 8px;
}

th {
  background-color: white ;
}

button {
  padding: 10px 20px;
  background-color: skyblue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: navy;
}

